body {
    font-family: Noto Sans;
    background-color: #FFFFFF;
    margin: 5px;
    padding: 5px;
}

h1 {
    color: #000000;
    text-align: center;
}


p {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

footer {
    font-style: italic;
    text-align: center;
}
.stacked {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.stacked-wrapper {
   flex: 1;
   max-width: 450px;
   margin: 10px;
}
.stacked-wrapper img {
   display: block;
   margin: 0 auto;
}

.center-div {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo-left {
  display: block;
  margin-bottom: 10px;
  width: 250px; 
}
#logo-text {
   font-family: Dancing Script;
   color: #4CBB17;
   width: 700px;
   font-size:30px;
}
#center-div {
    text-align: center;
}


.mobile-only {
    display: none;
    background-color: #DCDCDC;
    padding: 15px;
    border-radius: 5px;
}

.tablet-only {
    display: none;
    background-color: #F0F8FF;
    padding: 15px;
    border-radius: 5px;
}


.desktop-only {
    background-color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
}


@media screen and (max-width: 600px) {
    /* Hide the desktop content */
    .desktop-only {
        display: none;
    }

    .tablet-only {
        display: none;
    }


    .mobile-only {
        display: block;
    }
}

@media (min-width: 601px) and (max-width: 992px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: none;
    }

    .tablet-only {
        display: block;
    }
}

@media (min-width: 993px) {
    .tablet-only {
        display: none;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}